<h1>HairSalon List</h1>
<hr WIDTH="100%">
<h3>Edit Stylist: @Model.GetName()</h3>
<form action="/stylist/edit/@Model.GetId()" method="post">
  <input type="hidden" name="_method" value="PATCH">
  <input name="stylist-id" type="hidden" value="@Model.GetId()">
  <label for="stylist-name">Stylist name</label>
  <input id="stylist-name" name="stylist-name" type="text">
  <button type="submit">Submit</button>
</form>
<h4><a href="/">Return home</a></h4>
